body {
  background-color: #000;
}

.row {
  width: 650px;
  height: 450px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid navy;
  border-radius: 8px;
  padding: 10px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
canvas {
  border: 1px solid #000;
  border-radius: 5px;
  /* border: 5px solid navy; */
}

.row h1 {
  color: yellow;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: Verdana;
  margin-bottom: 15px;
}

i {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #dcdde1;
  font-size: 35px;
  cursor: pointer;
  padding: 4px;
}
