body {
  background-color: #000;
}

.game {
  width: 650px;
  height: 450px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid navy;
  border-radius: 8px;
  padding: 10px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
canvas {
  border: 1px solid #000;
  border-radius: 5px;
  /* border: 5px solid navy; */
}

.game h1 {
  color: yellow;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: Verdana;
  margin-bottom: 15px;
}

.volume {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #dcdde1;
  font-size: 35px;
  cursor: pointer;
  padding: 4px;
}

.controls {
  /* border: 1px solid blue; */
  border-radius: 5px;
  padding: 15px;
  width: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  align-items: center;
}

.play, .pause {
  color: #dcdde1;
  font-size: 75px;
  cursor: pointer;
}
.reset {
  color: #dcdde1;
  font-size: 60px;
  cursor: pointer;
}

.play:hover, .pause:hover, .reset:hover {
  color: yellow;
}
